{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ijara NSPI | Created by CIPHER-EDU</title>
		<meta charset="utf-8">
		<meta name="description" content="ijara.nspi.uz">
		<meta name="author" content="themetorium.net">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> <!-- Body font -->
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> <!-- Secondary/Alter font -->

		<!-- Libs and Plugins CSS -->
		<link rel="stylesheet" href="{% static 'assets/vendor/normalize/normalize.min.css' %}"> <!-- Normalize CSS (https://necolas.github.io/normalize.css/) -->
		<link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/fontawesome-all.min.css' %}"> <!-- Font Icons CSS (https://fontawesome.com) Free version! -->
		<link rel="stylesheet" href="{% static 'assets/vendor/swiper/css/swiper-bundle.min.css' %}"> <!-- Swiper CSS (https://swiperjs.com/) -->
		<link rel="stylesheet" href="{% static 'assets/vendor/lightgallery/css/lightgallery.min.css' %}"> <!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->

		<!-- Template master CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/helper.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">

	</head>
	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
		<main id="body-inner">
			<div id="page-transition">
				<div class="ptr-overlay"></div>
				<div class="ptr-preloader">
					<div class="ptr-prel-content">
						<img src="{% static 'images/nspi.png' %}" class="ptr-prel-image tt-logo-light" alt="Logo">
					</div> 
				</div> 
			</div>
			<div id="magic-cursor">
				<div id="ball"></div>
			</div>
			<div class="bg-noise"></div>
			<div id="scroll-container">
				<header id="tt-header" class="tt-header-fixed">
					<div class="tt-header-inner">

						<div class="tt-header-col">
							<div class="tt-logo"> 
								<a href="{% url 'home_list' %}">
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-light magnetic-item" alt="Logo"> <!-- logo light -->
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-dark magnetic-item" alt="Logo"> <!-- logo dark -->
								</a>
							</div>

						</div>

						<div class="tt-header-col">
							<div id="tt-ol-menu-toggle-btn-wrap">
								<div class="tt-ol-menu-toggle-btn-text">
									<span class="text-menu" data-hover="Open">Menu</span>
									<span class="text-close">Close</span>
								</div>
								<div class="tt-ol-menu-toggle-btn-holder">
									<a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
								</div>
							</div>
							<nav class="tt-overlay-menu tt-ol-menu-center tt-ol-menu-count">
								<div class="tt-ol-menu-holder">
									<div class="tt-ol-menu-inner tt-wrap">
										<div class="tt-ol-menu-content">
											<ul class="tt-ol-menu-list">
												<li class="tt-ol-submenu-wrap">
													<div class="tt-ol-submenu-trigger">
														<a href="{% url 'home_list' %}">Bosh sahifa</a>
													</div> 
												</li>
												<li><a href="{% url 'create_ariza' %}">Ariza berish</a></li>
											</ul>
										</div> 
									</div> 
								</div> 
								<div class="bg-noise"></div>
							</nav>
						</div> 
					</div> 
				</header>
        <br><br><br><br>
				<div id="content-wrap">
					<div id="page-header" class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-image-cover-2 ph-content-parallax">
						<div class="page-header-inner tt-wrap">
							<div class="ph-image">
								<div class="ph-image-inner">
									<img src="{% static 'images/contactt.jpg' %}" alt="Image">
								</div>
							</div>
							<div class="ph-caption">
								<h1 class="ph-caption-title ph-appear">Ariza </h1>
								<div class="ph-caption-title-ghost ph-appear">Ariza yuborish</div>
							</div> 
						</div>
						<a href="#page-content" class="scroll-down-circle" data-offset="30">
							<div class="sdc-inner ph-appear">
								<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
								<svg viewBox="0 0 500 500">
									<defs>
										<path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
									</defs>
									<text dy="30">
										<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
									</text>
								</svg>
							</div>
						</a>
						<div class="made-with-love ph-appear">
							<div class="mwl-inner">
								<div class="mwl-text">Made with</div>
								<div class="mwl-icon"><i class="far fa-heart"></i></div>
							</div>
						</div>						
					</div>
					<div id="page-content">
						<div class="tt-section">
							<div class="tt-section-inner tt-wrap">

								<div class="tt-row">
									<div class="tt-col-lg-5 padding-right-lg-5-p">
										<div class="tt-heading tt-heading-lg margin-bottom-10-p anim-fadeinup">
											<h3 class="tt-heading-subtitle text-gray">Get in Touch</h3>
											<h2 class="tt-heading-title">Drop Us<br> A Line</h2>
										</div>
										<ul class="tt-contact-info padding-bottom-40 text-gray">
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-map-marker-alt"></i></span>
												121 King Street, Melbourne, Australia
											</li>
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-phone"></i></span>
												<a href="tel:+123456789000" class="tt-link">+(123) 456 789 000</a>
											</li>
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-envelope"></i></span>
												<a href="mailto:company@email.com" class="tt-link">company@email.com</a>
											</li>
											<li class="anim-fadeinup">
												<h6 class="no-margin-bottom margin-top-40">Follow:</h6>
												<!-- Begin social buttons -->
												<div class="social-buttons">
													<ul>
														<li><a href="https://www.facebook.com/themetorium" class="magnetic-item" target="_blank" rel="noopener">Fb.</a></li>
														<li><a href="https://twitter.com/Themetorium" class="magnetic-item" target="_blank" rel="noopener">Tw.</a></li>
														<li><a href="https://www.youtube.com/" class="magnetic-item" target="_blank" rel="noopener">Yt.</a></li>
														<li><a href="https://dribbble.com/Themetorium" class="magnetic-item" target="_blank" rel="noopener">Dr.</a></li>
														<li><a href="https://www.behance.net/Themetorium" class="magnetic-item" target="_blank" rel="noopener">Be.</a></li>
													</ul>
												</div>
												<!-- End social buttons -->
											</li>
										</ul>
										<!-- End contact info -->

									</div> <!-- /.tt-col -->

									<div class="tt-col-lg-7">

										<!-- Begin form 
										================ 
										* Use class "tt-form-filled" or "tt-form-minimal" to change form style.
										* Use class "tt-form-sm" or "tt-form-lg" to change form size (no class = default size).
										-->
										<form id="tt-contact-form" class="tt-form-minimal anim-fadeinup">

											<!-- Begin hidden required fields (https://github.com/agragregra/uniMail) -->
											<input type="hidden" name="project_name" value="yourwebsiteaddress.com"> <!-- Change value to your site name -->
											<input type="hidden" name="admin_email" value="your@email.com"> <!-- Change value to your valid email address (where a message will be sent) -->
											<input type="hidden" name="form_subject" value="Message from yourwebsiteaddress.com"> <!-- Change value to your own message subject -->
											<!-- End Hidden Required Fields -->

											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Name <span class="required">*</span></label>
														<input class="tt-form-control" type="text" name="Name" placeholder="" required>
													</div>

												</div> <!-- /.tt-col -->

												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Email address <span class="required">*</span></label>
														<input class="tt-form-control" type="email" name="Email" placeholder="" required>
													</div>

												</div> <!-- /.tt-col -->
											</div> <!-- /.tt-row -->

											<div class="tt-form-group">
												<label>Subject <span class="required">*</span></label>
												<input class="tt-form-control" type="text" name="Subject" placeholder="" required>
											</div>

											<div class="tt-form-group">
												<label>Select an option <span class="required">*</span></label>
												<select class="tt-form-control" name="option" required>
													<option value="" disabled selected>Please choose an option</option>
													<option value="Say Hello">Say hello</option>
													<option value="New Project">New project</option>
													<option value="Feedback">Feedback</option>
													<option value="Other">Other</option>
												</select>
											</div>

											<div class="tt-form-group">
												<label>Message <span class="required">*</span></label>
												<textarea class="tt-form-control" rows="6" name="Message" placeholder="" required></textarea>
											</div>

											<small class="tt-form-text"><em>Fields marked with an asterisk (*) are required!</em></small>

											<div class="tt-btn tt-btn-light-outline margin-top-40">
												<button type="submit" data-hover="Send Message">Send Message</button>
											</div>
										</form>
										<!-- End form -->

									</div> <!-- /.tt-col -->
								</div> <!-- /.tt-row -->

							</div> <!-- /.tt-section-inner -->
						</div>
						<!-- End tt-section -->


						<!-- =======================
						///// Begin tt-section /////
						============================ 
						* You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
						-->
						<div class="tt-section padding-bottom-xlg-150">
							<div class="tt-section-inner tt-wrap">

								<!-- Begin page nav 
								==================== 
								* Use class "tt-pn-stroke" to enable title stroke style.
								* Use class "tt-pn-scroll" to enable hover title scroll. Note: If "tt-pn-hover-title" text is wider than "tt-pn-link" then it scrolls by default. The longer the text, the faster it scrolls.
								-->
								<div class="tt-page-nav tt-pn-scroll">
									<a href="portfolio-grid-modern.html" class="tt-pn-link anim-fadeinup">
										<div class="tt-pn-title">Portfolio</div>
										<div class="tt-pn-hover-title">Portfolio</div>
									</a> <!-- /.tt-pn-link -->

									<div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
									<div class="tt-pn-image">
										<img src="assets/img/page-header/ph-1.jpg" alt="image">
									</div>
								</div>
							</div> 
						</div>
					</div>
		<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script> <!-- jquery JS (https://jquery.com) -->

		<!-- Libs and Plugins JS -->
		<script src="{% static 'assets/vendor/gsap/gsap.min.js' %}"></script> <!-- GSAP JS (https://greensock.com/gsap/) -->
		<script src="{% static 'assets/vendor/gsap/ScrollToPlugin.min.js' %}"></script> <!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
		<script src="{% static 'assets/vendor/gsap/ScrollTrigger.min.js' %}"></script> <!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->

		<script src="{% static 'assets/vendor/smooth-scrollbar.js' %}"></script> <!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
		<script src="{% static 'assets/vendor/swiper/js/swiper-bundle.min.js' %}"></script> <!-- Swiper JS (https://swiperjs.com/) -->
		<script src="{% static 'assets/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script> <!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
		<script src="{% static 'assets/vendor/isotope/isotope.pkgd.min.js' %}"></script> <!-- Isotope JS (http://isotope.metafizzy.co) -->
		<script src="{% static 'assets/vendor/isotope/packery-mode.pkgd.min.js' %}"></script> <!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
		<script src="{% static 'assets/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script> <!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
		<script src="{% static 'assets/vendor/jquery.mousewheel.min.js' %}"></script> <!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->

		<!-- Theme master JS -->
		<script src="{% static 'assets/js/theme.js' %}"></script>



	</body>

</html>