{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ijara NSPI | Created by CIPHER-EDU</title>
		<meta charset="utf-8">
		<meta name="description" content="ijara.nspi.uz">
		<meta name="author" content="ijara.nspi.uz">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'assets/vendor/normalize/normalize.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/fontawesome-all.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'assets/vendor/swiper/css/swiper-bundle.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'assets/vendor/lightgallery/css/lightgallery.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/helper.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">

	</head>
	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
		<main id="body-inner">
			<div id="page-transition">
				<div class="ptr-overlay"></div>
				<div class="ptr-preloader">
					<div class="ptr-prel-content">
						<img src="{% static 'images/nspi.png' %}" class="ptr-prel-image tt-logo-light" alt="Logo">
					</div> 
				</div> 
			</div>
			<div id="magic-cursor">
				<div id="ball"></div>
			</div>
			<div class="bg-noise"></div>
			<div id="scroll-container">
				<header id="tt-header" class="tt-header-fixed">
					<div class="tt-header-inner">

						<div class="tt-header-col">
							<div class="tt-logo"> 
								<a href="{% url 'home' %}">
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-light magnetic-item" alt="Logo"> <!-- logo light -->
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-dark magnetic-item" alt="Logo"> <!-- logo dark -->
								</a>
							</div>

						</div>

						<div class="tt-header-col">
							<div id="tt-ol-menu-toggle-btn-wrap">
								<div class="tt-ol-menu-toggle-btn-text">
									<span class="text-menu" data-hover="Open">Menu</span>
									<span class="text-close">Close</span>
								</div>
								<div class="tt-ol-menu-toggle-btn-holder">
									<a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
								</div>
							</div>
							<nav class="tt-overlay-menu tt-ol-menu-center tt-ol-menu-count">
								<div class="tt-ol-menu-holder">
									<div class="tt-ol-menu-inner tt-wrap">
										<div class="tt-ol-menu-content">
											<ul class="tt-ol-menu-list">
												<li class="tt-ol-submenu-wrap">
													<div class="tt-ol-submenu-trigger">
														<a href="{% url 'home' %}">Bosh sahifa</a>
													</div> 
												</li>
												<li><a href="{% url 'create_ariza' %}">Ariza berish</a></li>
											</ul>
										</div> 
									</div> 
								</div> 
								<div class="bg-noise"></div>
							</nav>
						</div> 
					</div> 
				</header>
        <br><br><br><br>
				<div id="content-wrap">
					<div id="page-header" class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-image-cover-2 ph-content-parallax">
						<div class="page-header-inner tt-wrap">
							<div class="ph-image">
								<div class="ph-image-inner">
									<img src="{% static 'images/contactt.jpg' %}" alt="Image">
								</div>
							</div>
							<div class="ph-caption">
								<h1 class="ph-caption-title ph-appear">Ariza </h1>
								<div class="ph-caption-title-ghost ph-appear">Ariza yuborish</div>
							</div> 
						</div>
						<a href="#page-content" class="scroll-down-circle" data-offset="30">
							<div class="sdc-inner ph-appear">
								<div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
								<svg viewBox="0 0 500 500">
									<defs>
										<path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
									</defs>
									<text dy="30">
										<textPath xlink:href="#textcircle">Scroll down - Scroll down -</textPath>
									</text>
								</svg>
							</div>
						</a>
						<div class="made-with-love ph-appear">
							<div class="mwl-inner">
								<div class="mwl-text">Made with</div>
								<div class="mwl-icon"><i class="far fa-heart"></i></div>
							</div>
						</div>						
					</div>
					<div id="page-content">
						<div class="tt-section">
							<div class="tt-section-inner tt-wrap">

								<div class="tt-row">
									<div class="tt-col-lg-5 padding-right-lg-5-p">
										<div class="tt-heading tt-heading-lg margin-bottom-10-p anim-fadeinup">
											<h3 class="tt-heading-subtitle text-gray">Navoiy davlat pedagogika instituti</h3>
											<h2 class="tt-heading-title">Talablar turarjoy<br> Yotoqxonasi</h2>
										</div>
										<ul class="tt-contact-info padding-bottom-40 text-gray">
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-map-marker-alt"></i></span>
												Navoiy shahar Ibn Sino 45uy 
											</li>
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-phone"></i></span>
												<a href="tel:+123456789000" class="tt-link">+998 79 225-07-32</a>
											</li>
											<li class="anim-fadeinup">
												<span class="tt-ci-icon"><i class="fas fa-envelope"></i></span>
												<a href="mailto:info@nspi.uz" class="tt-link">info@nspi.uz</a>
											</li>
											<li class="anim-fadeinup">
												<h6 class="no-margin-bottom margin-top-40">Follow:</h6>
												<div class="social-buttons">
													<ul>
														<li><a href="https://t.me/NavDPI_Rasmiy" class="magnetic-item" target="_blank" rel="noopener">Tg.</a></li>
														<li><a href="https://www.instagram.com/navdpi_edu/" class="magnetic-item" target="_blank" rel="noopener">Ins.</a></li>
														<li><a href="https://www.youtube.com/@navoiynavdpi5460" class="magnetic-item" target="_blank" rel="noopener">Yt.</a></li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
									<div class="tt-col-lg-7">
										<form method="post" enctype="multipart/form-data" class="tt-form-minimal anim-fadeinup">
											{% csrf_token %}
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Ismingiz <span class="required">*</span></label>
														{{ form.ism }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Familiyangiz<span class="required">*</span></label>
														{{ form.familiya }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Otangizni ismi <span class="required">*</span></label>
														{{ form.sharifi }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Mamlakatingiz <span class="required">*</span></label>
														{{ form.mamlakat }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Viloyatingiz <span class="required">*</span></label>
														{{ form.viloyat }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Tumaningiz <span class="required">*</span></label>
														{{ form.tuman }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Jinsizngiz<span class="required">*</span></label>
														{{ form.jinsi }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Pasport seriya <span style="font-size: 10px;" class="required">Pasportning ikki bosh harflari</span></label>
														{{ form.pasport }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Pasport raqami<span style="font-size: 10px;" class="required"> 7 sondan oshmasin</span></label>
														{{ form.pasport_num }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Manzilingiz <span  class="required">*</span></label>
														{{ form.manzil }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Fakultetingiz <span class="required">*</span></label>
														{{ form.fakultet }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Yo'nalishingiz <span class="required">*</span></label>
														{{ form.yunalish }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Gruxingiz <span class="required">*</span></label>
														{{ form.grux }}
													</div>

												</div> 
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Kursingiz <span class="required">*</span></label>
														{{ form.kurs }}
													</div>
												</div> 
											</div> 
											<div class="tt-row">
												<div class="tt-col-md-6">

													<div class="tt-form-group">
														<label>Telefon raqamingiz <span class="required">*</span></label>
														{{ form.telefon }}
													</div>
												</div> 
											</div> 
											
											<small class="tt-form-text"><em>Barcha qaotrlarni to'g'ri to'ldirganingizga ishonch hosil qiling!</em></small>
											<div class="tt-btn tt-btn-light-outline margin-top-40">
												<button type="submit" data-hover="Send Message">Yuborish</button>
											</div>
										</form>
										{% if messages %}
											{% for message in messages %}
												<div class="alert alert-{{ message.tags }}" role="alert">
												{{ message }}
												</div>
											{% endfor %}
										{% endif %}
									</div>
								</div>
							</div> 
						</div>
						<div class="tt-section padding-bottom-xlg-150">
							<div class="tt-section-inner tt-wrap">
								<div class="tt-page-nav tt-pn-scroll">
									<a href="portfolio-grid-modern.html" class="tt-pn-link anim-fadeinup">
										<div class="tt-pn-title">Ariza holati</div>
										<div class="tt-pn-hover-title">Ariza holati</div>
									</a>
									<div class="tt-pn-subtitle anim-fadeinup">Selected Works</div>
									<div class="tt-pn-image">
										<img src="{% static 'images/nspi.png' %}" alt="image">
									</div>
								</div>
							</div> 
						</div>
					</div>
		<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/gsap.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/ScrollToPlugin.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/ScrollTrigger.min.js' %}"></script>
		<script src="{% static 'assets/vendor/smooth-scrollbar.js' %}"></script> 
		<script src="{% static 'assets/vendor/swiper/js/swiper-bundle.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/packery-mode.pkgd.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.mousewheel.min.js' %}"></script>
		<script src="{% static 'assets/js/theme.js' %}"></script>
	</body>
</html>