{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Dhinchak</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> 
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><img style="width: 50px;" src="{% static 'images/nspi.png' %}"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Bosh sahifa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="template.html">3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="proveding.html">3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">3</a>
            </li>
          </ul>  
          <form class="form-inline my-2 my-lg-0">
            <div class="search_icon"><a href="#"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left0">Aloqa uchun : +998 79 225-07-32</span></a></div>
            <div class="search_icon"><a href="#"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left0">Email : @info@nspi.uz</span></a></div>
          </form>
        </div>
      </nav>
    </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">Email mark provides <br> you a wonderful viewing experience </h1>
                  <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="images/img-1.png"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">Email mark provides <br> you a wonderful viewing experience </h1>
                  <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="images/img-1.png"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">Email mark provides <br> you a wonderful viewing experience </h1>
                  <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="images/img-1.png"></div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
              <i class="fa fa-left"><img src="images/left-icon.png"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
              <i class="fa fa-right"><img src="images/right-icon.png"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- banner section end -->
    <!-- templet bg section start -->
    <div class="templet_bg">
    <!-- email section start -->
    <div class="email_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2"><img src="images/img-2.png"></div>
          </div>
          <div class="col-md-6">
            <h1 class="mark_text">Mark email carefully for you</h1>
            <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
            <div class="contact_bt"><a href="#">Read More</a></div>
          </div>
        </div>
      </div>
    </div>
    <!-- email section end --> 
    <!-- solution section start -->
    <div class="solution_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Mark email is an all in one solution </h1>
        <div class="image_3"><img src="images/img-3.png"></div>
        <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="make_bt"><a href="#">Make Now</a></div>
      </div>
    </div>
    <!-- solution section end --> 
    <!-- template section start -->
    <div class="template_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Our Template</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-5.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-5.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-5.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- template section end -->
    <!-- design section start -->
    <div class="design_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Wonderful marketing design</h1>
        <div class="image_4"><img src="images/img-4.png"></div>
        <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="make_bt"><a href="#">Make Now</a></div>
      </div>
    </div>
    <!-- design section end --> 
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Contact Us</h1>
        <div class="mail_section">
          <input type="" class="mail_text" placeholder="Name" name="Name">
          <input type="" class="mail_text" placeholder="Phone Number" name="Phone Number">
          <input type="" class="mail_text" placeholder="Email" name="Email">
          <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
          <div class="send_bt"><a href="#">send</a></div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="footer_logo"><a href="{% url 'home' %}" style="font-size: 16px;"><img style="width: 50px;" src="{% static 'images/nspi.png' %}"> Navoiy davlat pedagogika instituti</a></div>
            <h4 class="contact_text">Contact Us</h4>
            <div class="call_section">
              <div class="call_section_left">
                <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"></div>
                <p class="location_text">Navoiy shahar</p>
                <p class="location_text">Ibn Sino 45 uy</p>
              </div>
              <div class="call_section_middle">
                <div class="map_icon"><img src="{% static 'images/mail-icon1.png' %}"></div>
                <p class="location_text">info@nspi.uz</p>
              </div>
              <div class="call_section_right">
                <div class="map_icon"><img src="{% static 'images/call-icon1.png' %}"></div>
                <p class="location_text">+998 79 225-07-32</p>
                <p class="location_text">+998 79 225-07-32</p>
              </div>
            </div>
            <div class="social_icon">
              <ul>
                <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                <li><a href="#"><img style="width: 50px; margin-top: -3px;" src="{% static 'images/telegram.png' %}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section end -->
    </div>
    <!-- templet bg section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <div class="copyright_text">2023 All Rights Reserved. Design by <a href="https://cipheredu.uz">CIPHER-EDU</a>
          <span class="teams_text">Terms of Service        Privacy</span>
        </div>
      </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript --> 
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>