{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Dhinchak</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
<link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
<link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> 
<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
</head>
<body>
    <!-- header section start -->
    <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><img style="width: 50px;" src="{% static 'images/nspi.png' %}"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}">Bosh sahifa</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ariza">Ariza yuborsh</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="template.html">3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="proveding.html">3</a>
            </li>
            <li class="nav-item"> -->
            </li>
          </ul>  
          <form class="form-inline my-2 my-lg-0">
            <div class="search_icon"><a href="#"><img src="{% static 'images/call-icon.png' %}"><span class="padding_left0">Aloqa uchun : +998 79 225-07-32</span></a></div>
            <div class="search_icon"><a href="#"><img src="{% static 'images/mail-icon.png' %}"><span class="padding_left0">Email : @info@nspi.uz</span></a></div>
          </form>
        </div>
      </nav>
    </div>
    <div class="banner_section layout_padding">
      <div class="container">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="banner_taital">Talabaga qulaylik<br></h2><h3> Navoiy davlat pedagogika instituti talabalari endilikda talabalr turar joyi uchun online ariza yuborishlari mumkun</h3>
                  <div class="contact_bt"><a href="">Ariza berish</a></div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
              </div>
            </div><!-- 
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="banner_taital">Talabalar<br></h1><h3> turar joy yotoqxonasi uchun online ariza berish </h3>
                  <div class="contact_bt"><a href="">Ariza berish</a></div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
              <i class="fa fa-left"><img src="{% static 'images/left-icon.png' %}"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
              <i class="fa fa-right"><img src="{% static 'images/right-icon.png' %}"></i>
            </a>
          </div> -->
        </div>
      </div>
    </div>
    <!-- banner section end -->
    <!-- templet bg section start -->
    <div class="templet_bg">
    <!-- email section start -->
    <div class="email_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2"><img src="{% static 'images/img-2.png' %}"></div>
          </div>
          <div class="col-md-6">
            <h1 class="mark_text">Talabalar <span style="color: rgb(0, 102, 255);">turar joyi</span> haqida</h1>
            <h5 class="lorem_text">Navoiy davlat pedagogika institutida umumiy sig‘imi 2695 nafar talabalarga mo‘ljallangan 3 ta talabalar turar joylari mavjud bo‘lib, ularning sig‘imi <a href="#ijara"  style="color: rgb(0, 102, 255);">quyid ko'rsatilngan</a></h5>
            <h5>
              2023-2024 - o'quv yilidan boshlab Termiz davlat universitetida talabalarni talabalar turar joylariga arizalarni qabul qilish onlayn shaklda amalga oshiriladi.
            </h5>
            <h5>
              Arizalar universitet Talabalarni turar joy bilan ta'minlash ishlarini muvofiqlashtirish bo`limi tomonidan o'rganilib chiqiladi va platformada e'lon qilinadi.
            </h5>
            <h5>
              O‘zbekiston Respublikasi oliy va o‘rta maxsus taʼlim vazirining 2019-yil 1-noyabrdagi №1019-sonli “Talaba (o‘quvchi)lar turar joyi faoliyatiga oid namunaviy hujjatlarni tasdiqlash to‘g‘risida”gi buyrug‘i asosida Termiz davlat universitetidagi mavjud 6 ta <a href="#yuriqnoma"  style="color: rgb(0, 102, 255);">TTJlarga talabalarni joylashtirish yo'riqnomasi quyida keltirilgan</a>:
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="solution_section layout_padding">
      <div class="container">
        <!-- <h1 class="solution_text">Talabalr turar joyi haqida! </h1> -->
        <div class="image_3"><img src="{% static 'images/img-3.png' %}"></div>
       
          <center><h3 class="mark_text " id="yuriqnoma">YO'RIQNOMA</h3></center>
          <h4>
              Talaba va oʻquvchilarni turar joylariga joylashtirishda mavjud oʻrinlardan extiyoj va talab yuqori boʻlgan xolatlarda quyidagi mezonlar ketma- ketligi asosida oʻquvchi va talabalar ustunlikka ega boʻladi:
          </h4>
          <h4>
              Chin yetim talaba-oʻquvchilar (kursidan qatʼiy nazar)
          </h4>
          <h4>  
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>             
            “Mexribonlik uylari” tarbiyalanuvchilari
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
             Nogironligi mavjud talaba-o‘quvchilar (kursidan qatʼiy nazar)
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Ijtimoiy ximoyaga muxtoj, moddiy axvoli og‘ir talabalar (shuningdek, bitta oilada 2 yoki undan ortiq shaxs t o‘lov-shartnoma asosida o‘qiyotgan b o‘lsa)
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Xorijdan kelib tahsil olayotgan talabalar
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            1 -2 kurs talabalari
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Talaba (o‘quvchi) qizlar
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Yoshlar ittifoqining faollari
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Xalqaro miqyosdagi fan olimpiadalarida g‘oliblikni qo‘lga kiritgan talabalar
          </h4>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Yozgi taʼtil davrida “Fidokor” yoshlar mexnat otryadi tarkibida talabalar turar joylarini taʼmirlashda ishtirok etgan talabalar
          </p>
          <h4>
            <i class="fa fa-check" style="font-size:36px; color: rgb(7, 255, 40);"></i>
            Talabalar turar joyida doimiy ravishda talabalar kengashi raisi, qavat sardorlari va boshqa jixatlari bilan doimiy ravishda faollik ko‘rsatib kelayotgan talabalar
              
          </h4>
          <h4>
              Eslatma! Ta’limning kechki va sirtqi shaklida tahsil olayotgan va turmushga chiqqan oilali talabalar TTJga arizalari qabul qilinmaydi.
          </h4>
        <div class="make_bt"><a href="#">Ariza berish</a></div>
      </div>
    </div>
    <!-- solution section end --> 
    <!-- template section start -->
    <div class="template_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Talabalr turar joylari</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" id="ijara">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="{% static 'images/img-5.png' %}"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-5.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-5.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-6.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website html Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-4">
                  <div class="image_5"><img src="images/img-7.png"></div>
                  <h3 class="cool_text">Free Hairstyle Website PSD Template</h3>
                  <p class="lorem_dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- template section end -->
    <!-- design section start -->
    <div class="design_section layout_padding">
      <div class="container">
        <center><h3 class="mark_text " id="yuriqnoma">Ijara honadonlar ro'yxati</h3></center>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Shahar</th>
              <th scope="col">Mahallasi</th>
              <th scope="col">Manzil</th>
              <th scope="col">Ijarachi</th>
              <th scope="col">Telefon</th>
              <th scope="col">Yigit</th>
              <th scope="col">Qiz</th>
              <th scope="col">Holati</th>
            </tr>
          </thead>
          <tbody>
            {% for home in ijara %}
            <tr>
              <th scope="row">{{home.Shahar}}</th>
              <td>{{home.Mahallasi}}</td>
              <td>{{home.Manzil}}</td>
              <td>{{home.Manzil}}</td>
              <td>{{home.Ijarachi}}</td>
              <td>{{home.Telefon}}</td>
              {% if home.Yigit == 'Yigit' %}
              <td>{{ home.Yigit }}</td>
              {% else %}
              
              <td>{{ home.Qiz }}</td>
              {% endif %}
              <td>@mdo</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
                  <nav aria-label="Page navigation example">
            <ul class="pagination">
          {%  if page_obj.has_previous %}  
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
              </a>
          </li>   
      {% endif %} 
          {% for p in paginator.page_range %}
           
              {% if page_obj.number == p %}
                 <li class="page-item" style="color:red !important;">
                      <a href="" class="page-link" style="color:red !important;">{{p}}</a>
                 </li>
              {% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3 %}
              <li class="page-item"><a class="page-link" href="?page={{p}}">{{p}}</a></li>
              {% endif %}                    
          {% endfor %}
          {%  if page_obj.has_next %}  
              <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                  </a>
              </li>
          {% endif %}
        </ul>
      </nav>
      </div>
    </div>
    <div class="design_section layout_padding">
      <div class="container">
        <h1 class="solution_text">Wonderful marketing design</h1>
        <div class="image_4"><img src="images/img-4.png"></div>
        <p class="ipsum_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="make_bt"><a href="#">Make Now</a></div>
      </div>
    </div>
    <!-- design section end --> 
    <!-- contact section start -->
    <div class="contact_section col-md-12">
      <div class="container">
        <h1 class="solution_text">Ariza yuborish</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <!-- contact section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="footer_logo"><a href="{% url 'home' %}" style="font-size: 16px;"><img style="width: 50px;" src="{% static 'images/nspi.png' %}"> Navoiy davlat pedagogika instituti</a></div>
            <h4 class="contact_text">Contact Us</h4>
            <div class="call_section">
              <div class="call_section_left">
                <div class="map_icon"><img src="{% static 'images/map-icon.png' %}"></div>
                <p class="location_text">Navoiy shahar</p>
                <p class="location_text">Ibn Sino 45 uy</p>
              </div>
              <div class="call_section_middle">
                <div class="map_icon"><img src="{% static 'images/mail-icon1.png' %}"></div>
                <p class="location_text">info@nspi.uz</p>
              </div>
              <div class="call_section_right">
                <div class="map_icon"><img src="{% static 'images/call-icon1.png' %}"></div>
                <p class="location_text">+998 79 225-07-32</p>
                <p class="location_text">+998 79 225-07-32</p>
              </div>
            </div>
            <div class="social_icon">
              <ul>
                <li><a href="#"><img src="{% static 'images/fb-icon.png' %}"></a></li>
                <li><a href="#"><img style="width: 50px; margin-top: -3px;" src="{% static 'images/telegram.png' %}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section end -->
    </div>
    <!-- templet bg section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <div class="copyright_text">2023 All Rights Reserved. Design by <a href="https://cipheredu.uz">CIPHER-EDU</a>
          <span class="teams_text">Terms of Service        Privacy</span>
        </div>
      </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <!-- javascript --> 
    <script src="{% static 'js/owl.carousel.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>