{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ijara NSPI | Created by CIPHER-EDU</title>
		<meta charset="utf-8">
		<meta name="description" content="ijara.nspi.uz">
		<meta name="author" content="themetorium.net">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'assets/vendor/normalize/normalize.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/fontawesome/css/fontawesome-all.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/swiper/css/swiper-bundle.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/vendor/lightgallery/css/lightgallery.min.css' %}"> 
		<link rel="stylesheet" href="{% static 'assets/css/helper.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/theme.css' %}">
	</head>
	<body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
		<main id="body-inner">
			<div id="page-transition">
				<div class="ptr-overlay"></div>
				<div class="ptr-preloader">
					<div class="ptr-prel-content">
						<img src="{% static 'images/nspi.png' %}" class="ptr-prel-image tt-logo-light" alt="Logo">
					</div> 
				</div> 
			</div>
			<div id="magic-cursor">
				<div id="ball"></div>
			</div>
			<div class="bg-noise"></div>
			<div id="scroll-container">
				<header id="tt-header" class="tt-header-fixed">
					<div class="tt-header-inner">

						<div class="tt-header-col">
							<div class="tt-logo"> 
								<a href="{% url 'home' %}">
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-light magnetic-item" alt="Logo"> <!-- logo light -->
									<img src="{% static 'images/nspi.png' %}" class="tt-logo-dark magnetic-item" alt="Logo"> <!-- logo dark -->
								</a>
							</div>
						</div>
						<div class="tt-header-col">
							<div id="tt-ol-menu-toggle-btn-wrap">
								<div class="tt-ol-menu-toggle-btn-text">
									<span class="text-menu" data-hover="Open">Menu</span>
									<span class="text-close">Close</span>
								</div>
								<div class="tt-ol-menu-toggle-btn-holder">
									<a href="#" class="tt-ol-menu-toggle-btn magnetic-item"><span></span></a>
								</div>
							</div>
							<nav class="tt-overlay-menu tt-ol-menu-center tt-ol-menu-count">
								<div class="tt-ol-menu-holder">
									<div class="tt-ol-menu-inner tt-wrap">
										<div class="tt-ol-menu-content">
											<ul class="tt-ol-menu-list">
												<li class="tt-ol-submenu-wrap">
													<div class="tt-ol-submenu-trigger">
														<a href="{% url 'home' %}">Bosh sahifa</a>
													</div> 
												</li>
												<li>
													<a href="">
														Yotoqxona qaqida
													</a>
												</li>
												<li><a href="{% url 'create_ariza' %}">Ariza berish</a></li>
												<li>
													<a href="{% url 'search_application' %}">Ariza holatini tekshirish</a>
												</li>
											</ul>
										</div> 
									</div>
								</div> 
								<div class="bg-noise"></div>
							</nav> 
						</div> 
					</div> 
				</header>
				<div id="content-wrap">
					<div id="page-content">
						<div class="tt-portfolio-slider cursor-drag-mouse-down" data-speed="1000" data-mousewheel="true" data-keyboard="true" data-simulate-touch="true" data-grab-cursor="true" data-pagination-type="fraction" data-parallax-mouse-move="true">
							<div class="swiper">
								<div class="swiper-wrapper">
									<div class="swiper-slide" data-url="{% url 'home' %}" data-title="TTJ 1" data-category="Navoiy davlat pedagogika instituti">
										<div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%">
											<img class="tt-psi-image swiper-lazy" src="{% static 'images/ttj1.jpg' %}" data-src="{% static 'images/ttj1.jpg' %}" alt="Image">
										</div> 
									</div> 
									<div class="swiper-slide" data-url="{% url 'home' %}" data-title="TTJ 2" data-category="Navoiy davlat pedagogika instituti">
										<div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%">
											<img class="tt-psi-image swiper-lazy" src="{% static 'images/ttj2.jpg' %}" data-src="{% static 'images/ttj2.jpg' %}" alt="Image">
										</div> 
									</div> 
									<div class="swiper-slide" data-url="single-project-4.html" data-title="TTJ 3" data-category="Navoiy davlat pedagogika instituti">
										<div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%">
											<img class="tt-psi-image swiper-lazy" src="{% static 'images/ttj3.jpg' %}" data-src="{% static 'images/ttj3.jpg' %}" alt="Image">
										</div> 
									</div> 
									<div class="swiper-slide" data-url="single-project-5.html" data-title="TTJ 4" data-category="Navoiy davlat pedagogika instituti">
										<div class="tt-portfolio-slider-item cover-opacity-3" data-swiper-parallax="50%">
											<img class="tt-psi-image swiper-lazy" src="{% static 'images/ttj4.jpg' %}" data-src="{% static 'images/ttj4.jpg' %}" alt="Image">
										</div> 
								</div>
							</div>
							<div class="tt-portfolio-slider-caption psc-center">
								<div class="tt-ps-caption-inner">
									<h2 class="tt-psc-elem tt-ps-caption-title"><a href="" data-cursor="View<br>Project"></a></h2>
									<div class="tt-psc-elem tt-ps-caption-category"></div>
								</div> 
							</div>
							<div class="tt-portfolio-slider-navigation tt-swiper-nav">
								<div class="tt-ps-nav-prev">
									<div class="tt-ps-nav-arrow tt-ps-nav-arrow-prev magnetic-item"></div>
								</div>
								<div class="tt-ps-nav-next">
									<div class="tt-ps-nav-arrow tt-ps-nav-arrow-next magnetic-item"></div>
								</div>
								<div class="tt-ps-nav-pagination"></div>
							</div>
						</div>
					</div>
					<footer id="tt-footer" class="footer-absolute">
						<div class="tt-footer-inner">
							<div class="footer-col tt-align-center-left">
								<div class="footer-col-inner">
									<div class="tt-btn tt-btn-link">
										<a href="{% url 'create_ariza' %}" data-hover="Ariza yuborish">Ariza berish</a>
									</div>
								</div>
							</div>
							<div class="footer-col tt-align-center-right">
								<div class="footer-col-inner">
									<div class="footer-social">
										<div class="footer-social-text"><span>Follow</span><i class="fas fa-share-alt"></i></div>
										<div class="social-buttons">
											<ul>
												<li><a href="https://t.me/NavDPI_Rasmiy" class="magnetic-item" target="_blank" rel="noopener">Tg.</a></li>
												<li><a href="https://www.instagram.com/navdpi_edu/" class="magnetic-item" target="_blank" rel="noopener">Ins.</a></li>
												<li><a href="https://www.youtube.com/@navoiynavdpi5460" class="magnetic-item" target="_blank" rel="noopener">Yt.</a></li>
											</ul>
										</div> 
									</div> 
								</div> 
							</div>
						</div> 
					</footer>
				</div>
			</div>
		</main>
		<script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>	
		<script src="{% static 'assets/vendor/gsap/gsap.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/ScrollToPlugin.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/gsap/ScrollTrigger.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/smooth-scrollbar.js' %}"></script>
		<script src="{% static 'assets/vendor/swiper/js/swiper-bundle.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script> 
		<script src="{% static 'assets/vendor/isotope/isotope.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/isotope/packery-mode.pkgd.min.js' %}"></script>
		<script src="{% static 'assets/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
		<script src="{% static 'assets/vendor/jquery.mousewheel.min.js' %}"></script>
		<script src="{% static 'assets/js/theme.js' %}"></script>



	</body>

</html>